body {
  font-family: Arial, sans-serif;
  background-color: rgb(27, 27, 27);
}

.events-container {
  max-width: 800px;
  height: 90vh;
  background-image: linear-gradient(
    to top,
    rgb(48, 47, 47),
    rgb(59, 57, 59),
    rgb(59, 56, 56),
    rgb(48, 47, 47),
    rgb(29, 28, 28),
    rgb(70, 68, 68)
  );
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.header h1 {
  color: white;
  font-size: 30px;
}
.header h2 {
  color: #3a959c;
  font-size: 30px;
}
.events {
  padding: 10px;
}
.events h3 {
  color: white;
  margin-bottom: 100px;
  font-size: 30px;
}
.event-card {
  border: 2px solid rgba(255, 255, 255, 0.692);
  border-radius: 20px;
  height: 50vh;
  padding: 20px;
  margin-bottom: 20px;
}
.event-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 40%;
}

.event-details {
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.event-details h4 {
  margin-bottom: 10px;
  color: white;
  font-size: 30px;
}

.event-details p {
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
}
.event-details h6 {
  margin-bottom: 10px;
  color: gray;
  font-size: 20px;
}
.pricing button {
  padding: 15px 32px;
  color: white;
  background-color: #3a959c;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.event-nums {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.event-nums span {
  margin-right: 10px;
}
.part2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: larger;
  color: white;
}
.part1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: larger;
  color: white;
}
.part3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: larger;
  color: white;
}
@media (max-width: 768px) {
  .event-card img {
    border-radius: 10px;
  }

  .event-details {
    border-radius: 10px;
  }
}
