body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: rgb(27, 27, 27);
}

.events-container {
  max-width: 80vw;
  background-image: linear-gradient(
    to top,
    rgb(48, 47, 47),
    rgb(59, 57, 59),
    rgb(59, 56, 56),
    rgb(48, 47, 47),
    rgb(29, 28, 28),
    rgb(70, 68, 68)
  );
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.header h1 {
  color: white;
  font-size: 2.5rem;
}
.header h2 {
  color: #22a0b6;
  font-size: 2.5rem;
}
.evs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.events {
  padding: 10px;
}
.events h3 {
  color: white;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.event-card {
  border: 1px solid gray;
  border-radius: 5px 5px 10px 15px;
  width: 700px;
  margin-bottom: 20px;
}
.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-details {
  padding: 20px;
}
.sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.event-details h4 {
  margin-bottom: 5px;
  color: white;
}

.event-details p {
  margin-bottom: 2.5px;
  color: white;
}

.pricing button {
  padding: 15px 32px;
  color: white;
  background-color: #22a0b6;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
.event-nums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.event-nums span {
  font-size: 1rem;
}
.event-nums p {
  color: gray;
}
.part2 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
.part1 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
.part3 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
.btn-new button {
  padding: 15px 32px;
  color: white;
  background-color: #22a0b6;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .event-card img {
    border-radius: 10px;
  }

  .event-details {
    border-radius: 10px;
  }
}
